<div id="form" class="block block-fragment">
    <code>placeholder-form</code>
    <h3>Block form-error</h3>
    <ul>
        
        
    </ul>
    {{ block "form-error" .FormError }}
    <div id="form-error"> default for block named form-error </div>
    {{ end }}
    
</div>
