<div id="subsection" class="mt-4">
  {{ template "subsection-tabs" .SubsectionTabs }}
  <section class="mb-4">
    <div class="col-lg-10 mx-auto p-3 text-center">
      <h3>Expandable Datatable</h3>
      <p class="text-secondary">
        Fetch a table offset as an HTML fragment from the server. This
        <em>load more...</em> example could be modified for pagination.
      </p>
    </div>

    <div class="table-responsive bg-white p-3 rounded-3 border">
      {{ template "main-table" .MainTable }}
    </div>
  </section>
</div>
