<div id="subsection" class="mt-4">
  {{ template "subsection-tabs" .SubsectionTabs }}
  <section class="mb-4">
    <div class="col-lg-10 mx-auto p-3 text-center">
      <h3>Long Polling</h3>
      <p class="text-secondary">
        Demonstration of HTTP long polling; this is a handy technique for
        tailing logs or sampling events on your server.
      </p>
    </div>

    <div class="bg-white p-3 rounded-3 border">
      <div class="row">
        <h5 class="col-lg-5 py-2">Second Ticker Log Stream:</h5>
        <div class="row col-lg-7 align-items-center">
          <label
            for="polling-interval"
            class="col-auto col-form-label"
            style="margin-left: auto"
            >Polling interval (seconds)</label
          >
          <div class="col-auto">
            <input
              type="number"
              id="polling-interval"
              class="form-control"
              style="width: 80px"
              step="1"
              min="1"
              max="10"
              value="3"
            />
          </div>
          <div class="col-auto" style="margin-left: auto">
            <div class="form-check form-switch py-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="pollingEnabled"
                role="button"
              />
              <label
                class="form-check-label"
                for="pollingEnabled"
                role="button"
              >
                Enable Polling
              </label>
            </div>
          </div>
        </div>
      </div>
      <p class="small text-muted">Latest update on top!</p>
      <div
        class="list-group list-group-flush overflow-auto"
        style="max-height: 800px"
      >
        {{ block "log-stream" .LogStream }}{{ end }}
        <div id="log-stream-{{ .WatchToken }}" class="list-group-item">
          <div class="text-center p-3 border rounded-pill text-muted">
            <span
              data-good-long-polling="/[# .Name #]/logs/poll?token={{ .WatchToken }}"
              >next update in ? seconds</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
