<ul class="nav nav-pills">
  {{ if eq . "datatable" }}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Datatable</a>
  </li>
  {{ else }}
  <li class="nav-item">
    <a treetop class="nav-link" href="/[# .Name #]">Datatable</a>
  </li>
  {{
    end
  }}
  {{ if eq . "comments" }}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Comments</a>
  </li>
  {{ else }}
  <li class="nav-item">
    <a treetop class="nav-link" href="/[# .Name #]/comments">Comments</a>
  </li>
  {{
    end
  }}
  {{ if eq . "logs" }}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Logs</a>
  </li>
  {{ else }}
  <li class="nav-item">
    <a treetop class="nav-link" href="/[# .Name #]/logs">Logs</a>
  </li>
  {{
    end
  }}
</ul>
