<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ template "styles" .Styles }}

    <title>{{ .PageTitle }}</title>
  </head>
  <body>
    {{ template "nav" .Nav }}
    {{ template "content" .Content }}
    {{ template "scripts" .Scripts }}
  </body>
</html>
