<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .PageTitle }}</title>
</head>
<body>
    {{ block "content" .Content }}
    <div id="content">fallback content</div>
    {{ end }}

    <script async src="/js/treetop.js"></script>
    <script>
    window.TREETOP_CONFIG = {
        mountAttr: {
            'test': (el) => {
            }
        },
        unmountAttr: {
            'test': (el) => {
            }
        },
    };
    if (window.treetop) {
        winodw.treetop.init(window.TREETOP_CONFIG);
    }
    </script>
</body>
</html>