<script async src="/js/treetop.js"></script>
<script>
window.TREETOP_CONFIG = {
    mountAttr: {
        'test': (el) => {
        }
    },
    unmountAttr: {
        'test': (el) => {
        }
    },
};
if (window.treetop) {
    winodw.treetop.init(window.TREETOP_CONFIG);
}
</script>