_ref = "base"
_template = "[# .Templates #]/base.html.tmpl"
_doc = "Base HTML template for [# .Name #] page"
_entrypoint = "/[# .Name #]"

    [[nav]]
    _ref = "sidebar-nav"
    _doc = "main sidebar details including user settings links"
    [# if $.HasResources -#]
    _handler = "hlp.BindEnv(bindResources(sidebarNavHandler))"
    [# else -#]
    _handler = "hlp.BindEnv(sidebarNavHandler)"
    [#- end #]
    _default = true
    _template = "[# .Templates #]/nav/sidebar-nav.html.tmpl"

        [[nav.nav-links]]
        _ref = "sidebar-nav-links"
        _doc = "list of sidebar links, activate a link based on the page name"
        _handler = 'hlp.BindEnv(sidebarNavLinksHandler("[# .Name #]"))'
        _default = true
        _template = "[# .Templates #]/nav/nav-link/sidebar-nav-links.html.tmpl"

    [[content]]
    _ref = "content-wrapper"
    _default = true
    _template = "[# .Templates #]/content/wrapper.html.tmpl"
    _doc = "Landing content view for the [# .Name #] page URI"
    _method = "GET"

        [[content.quick-search-menu]]
        _ref = "quick-search-demo"
        _template = "[# .Templates #]/content/quick-search-menu/search-result-content.html.tmpl"
        _handler = "hlp.BindEnv(quickSearchDemoHandler)"
        _default = true
        _fragment = true
        _path = "/[# .Name #]/search"
        _method = "GET"
        _doc = "Show options for search query, as it is being typed (must be fast!)"

        [[content.subsection]]
        _ref = "datatable"
        _default = true
        _partial = true
        _template = "[# .Templates #]/content/subsection/datatable.html.tmpl"
        _handler = "hlp.BindEnv(datatableHandler)"
        _path = "/[# .Name #]"
        _method = "GET"

            [[content.subsection.subsection-tabs]]
            _ref = "datatable-tabs"
            _default = true
            _template = "[# .Templates #]/content/subsection/tabs.html.tmpl"
            _handler = 'treetop.Constant("datatable")'

            [[content.subsection.main-table]]
            _ref = "expanding-datatable"
            _template = "[# .Templates #]/content/subsection/main-table/expanding.html.tmpl"
            _handler = "hlp.BindEnv(expandingDatatableHandler)"
            _default = true
            _method = "GET"
            _path = "/[# .Name #]/datatable/more"
            _fragment = true
            _merge = "table-append"
            _doc = "table capable of being dynamically expanded"

        [[content.subsection]]
        _ref = "comments"
        _partial = true
        _template = "[# .Templates #]/content/subsection/comments.html.tmpl"
        _handler = "hlp.BindEnv(commentsHandler)"
        _path = "/[# .Name #]/comments"
        _method = "GET"

            [[content.subsection.subsection-tabs]]
            _ref = "comments-tabs"
            _default = true
            _template = "[# .Templates #]/content/subsection/tabs.html.tmpl"
            _handler = 'treetop.Constant("comments")'

            [[content.subsection.likes]]
            _ref = "comments-likes"
            _default = true
            _doc = "increment if a valid comment is referenced, ignore otherwise"
            _template = "[# .Templates #]/content/subsection/comments-likes.html.tmpl"
            _handler = "hlp.BindEnv(commentsLikesHandler)"
            _method = "POST"
            _path = "/[# .Name #]/comments/like"
            _fragment = true

        [[content.subsection]]
        _ref = "logview"
        _partial = true
        _template = "[# .Templates #]/content/subsection/logview.html.tmpl"
        _handler = "hlp.BindEnv(logviewHandler)"
        _path = "/[# .Name #]/logs"
        _method = "GET"

            [[content.subsection.subsection-tabs]]
            _ref = "logsview-tabs"
            _default = true
            _template = "[# .Templates #]/content/subsection/tabs.html.tmpl"
            _handler = 'treetop.Constant("logs")'

            [[content.subsection.log-stream]]
            _ref = "long-poll-ticker"
            _template = "[# .Templates #]/content/subsection/log-stream/long-poll-ticker.html.tmpl"
            _handler = "hlp.BindEnv(longPollTickerHandler)"
            _doc = "endpoint implementing a mock event stream using long polling"
            _path = "/[# .Name #]/logs/poll"
            _method = "GET"
            _fragment = true
            _merge = "insert-at-head"

    [[scripts]]
    _ref = "page-scripts"
    _default = true
    _doc = "Inline scripts for the page"
    _template = "[# .Templates #]/scripts.html.tmpl"
    _handler = "treetop.Noop"

    [[styles]]
    _ref = "page-styles"
    _default = true
    _doc = "Custom inline styles for this page"
    _template = "[# .Templates #]/styles.html.tmpl"
    _handler = "treetop.Noop"

    [[modal]]
    _ref = "error-modal"
    _partial = true
    _path = "/[# .Name #]/error"
    _method = "GET"
    _template = "[# .Templates #]/modal/error-modal.html.tmpl"
    _doc = "Modal that indicates to the use that an error has occurred"
    _handler = "treetop.Noop"

    [[modal]]
    _ref = "about-modal"
    _partial = true
    _path = "/[# .Name #]/about"
    _method = "GET"
    _template = "[# .Templates #]/modal/about-modal.html.tmpl"
    _doc = "Modal with information about this layout"
    _handler = "treetop.Noop"

    [[modal]]
    _ref = "reply-modal"
    _handler = "hlp.BindEnv(replyModalHandler)"
    _fragment = true
    _path = "/[# .Name #]/comments/reply"
    _template = "[# .Templates #]/modal/reply-modal.html.tmpl"
    _doc = "GET/POST endpoint to add a reply to a comment"
