# binary
good

# Test binary, built with `go test -c`
*.test
*.log
baseline
_test_output

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor files
*.swp
*.swo
.vscode

# General purpose dirs
admin/
_idea/

# OS Files
.DS_Store

# Nix
.direnv/

