<div id="settings-form">
    Fragment view named update-advanced-settings
    <h3>Block form-error</h3>
    {{ block "form-error" .FormError }}
    <div id="form-error"> default for block named form-error </div>
    {{ end }}
    
</div>