<div id="settings">
    Partial view named advanced-settings
    <h3>Block settings-form</h3>
    <ul>
        <li><form action="/example/advanced-settings/submit" method="POST" treetop><button>update-advanced-settings</button></form></li>
        
    </ul>
    {{ block "settings-form" .SettingsForm }}
    <div id="settings-form"> default for block named settings-form </div>
    {{ end }}
    
</div>