<div id="content" class="-generated-block -generated-block-partial">
    <code>example-placeholder</code>
    <h3>Block form</h3>
    <ul>
        <li><form action="/example/form" method="POST" treetop><button>placeholder-form*</button></form></li>
        
    </ul>
    {{ block "form" .Form }}
    <div id="form"> default for block named form </div>
    {{ end }}
    
</div>
