<div id="content">
  <h1>Run go generate command for page example</h1>
  <div>
    <textarea cols="60" rows="5" readonly>$ go generate github.com/rur/good/baseline/page/...</textarea>
  </div>
  <p><strong>TODO:</strong> Make this better</p>
</div>
