<div id="subsection" class="mt-4">
  {{ template "subsection-tabs" .SubsectionTabs }}


  <section class="mb-4">
    <div class="container col-lg-8">
      <h1 class="mt-5">Starter Layout</h1>
      <p class="lead">
        This should be a good starting point for your new page. Check out this
        <!-- TODO: add link to deployed example site -->
        <a href="#examples">example site</a> for inspiration!
      </p>
      <p>
        This layout uses the Bootstrap toolkit which has excellent
        documentation. Try
        <a
          target="_blank"
          href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
          >Getting started with Bootstrap v5</a
        >
        to help customize and extend this GUI.
      </p>
    </div>
  </section>
</div>
