<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to the Good Scaffold</h1>
    <p>Run go generate command for page [# .Name #]</p>
    <div>
      <textarea cols="60" rows="5" readonly>
$ go generate [# .Namespace #]/...
      </textarea>
    </div>
    <p><strong>TODO:</strong> Make this better</p>
  </body>
</html>
