<div id="content">
  <h1>Run go generate command for page [# .Name #]</h1>
  <div>
    <textarea>$ go generate [# .PagePath #]</textarea>
  </div>
  <p><strong>TODO:</strong> Make this better</p>
</div>
