package [# .Name #]

import (
	"net/http"

	"github.com/rur/treetop"
	"[# .Namespace #]/site"
)

// baseHandler is the default top level handler for the [# .Name #] page
func baseHandler(rsc *resources, env *site.Env, rsp treetop.Response, req *http.Request) interface{} {
	data := struct {
		PageTitle string
		Nav       interface{}
		Content   interface{}
		Styles    interface{}
		Scripts   interface{}
	}{
		PageTitle: "[# .Name #] Page",
		Nav:       rsp.HandleSubView("nav", req),
		Content:   rsp.HandleSubView("content", req),
		Styles:    rsp.HandleSubView("styles", req),
		Scripts:   rsp.HandleSubView("scripts", req),
	}
	return data
}

