<div id="modal" class="modal" data-good-modal tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bootstrap 5 Example Modal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          This request returned HTML for a modal. The Bootstrap Modal
          Component<sup
            >[<a
              target="_blank"
              href="https://getbootstrap.com/docs/5.0/components/modal/"
              >docs</a
            >]</sup
          >
          was triggered using the <code>data-good-modal</code> attribute
          directive.
        </p>
        <p>
          See <em>page/newpage/templates/scripts.html.tmpl</em> to review
          directives for this page.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
