<ul id="nav-links" class="nav nav-pills flex-column mb-auto">
  {{ range $index, $item := .Items }}
    {{ if $item.Selected }}
      <li class="nav-item">
        <a class="nav-link active" href="{{ $item.Href }}" aria-current="page">
          {{ $item.Title }}
        </a>
      </li>
    {{ else }}
      <li>
        <a
          {{ if $item.Partial }}treetop{{ end }}
          href="{{ $item.Href }}"
          class="nav-link link-dark"
        >
          {{ $item.Title }}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
