<div
  id="log-stream-{{ .WatchToken }}"
  treetop-merge="insert-at-head"
  class="list-group-item log-stream-item rounded-2"
>
  <div class="d-flex w-100 justify-content-between mb-2 text-muted">
    <small>{{ .Timestamp }}</small>

    <small data-good-long-polling="{{ .PollingURL }}"
      >next update in ? seconds</small
    >
  </div>
  <pre class="bg-secondary text-white rounded-2 p-2 mb-1"><code>
  {{- .Log -}}
  </code></pre>
</div>
