package [# .Name #]

import (
	"net/http"

	"github.com/rur/treetop"
	"[# .Namespace #]/service"
)

[# if .Handlers -#]
// -------------------------
// [#.Name#] Handlers
// -------------------------
[# end #]
[# range $index, $handler := .Handlers #]
// Ref: [# $handler.Ref #][# if $handler.Extends #]
// Extends: [# $handler.Extends #][# end #]
// Method: [# $handler.Method #][# if $handler.Doc #]
// Doc: [# $handler.Doc #]
[#- end #]
func [# $handler.Identifier #](rsc *resources, env *service.Env, rsp treetop.Response, req *http.Request) interface{} {
	data :=  struct {
		HandlerInfo string[# range $index, $block := .Blocks #]
		[# $block.FieldName #] interface{}
		[#- end #]
	}{
		HandlerInfo: "[# $handler.Ref #]",[# range $index, $block := .Blocks #]
		[# $block.FieldName #]: rsp.HandleSubView("[# $block.Name #]", req),
		[#- end #]
	}
	return data
}
[# end #]
