_namespace = "[# .Namespace #]"
_ref = "[# .Name #]"
_template = "[# .PageEntry.Template #]"
_handler = "[# .PageEntry.Handler #]"
_doc = "Base HTML template for [# .Name #] page"
_uri = "/[# .Name #]"

    [[content]]
    _ref = "[# .Name #]-placeholder"
    _default = true
    _doc = "Placeholder page"
    _path = "/[# .Name #]"
    _template = "[# .Templates #]/placedholder.html.tmpl"
    _handler = "env.Bind(bindResources(placedholderHandler))"
