package [# .Name #]

import (
	"net/http"

	"github.com/rur/treetop"
	"[# .Namespace #]/site"
)

// -------------------------
// [# .Name #] Handlers
// -------------------------

// Ref: landing
// Block: subsection
func landingHandler(rsc *resources, env *site.Env, rsp treetop.Response, req *http.Request) interface{} {
	return struct {
		SubsectionTabs interface{}
	}{
		SubsectionTabs: rsp.HandleSubView("subsection-tabs", req),
	}
}
