<div id="register-password" class="input-form-group mb-4">
	<div class="form-floating">
	  <input
      id="registrationPasswordInput"
      name="password"
      type="password"
      class="form-control --first{{ if .Error }} is-invalid{{ end }}"
      placeholder="Password"
      data-submit-reset-bs5-validation
      required
      value="{{ .Value }}">
	  <label for="registrationPasswordInput">Password</label>
	</div>
	<div class="form-floating">
	  <input
      id="registrationConfirmPasswordInput"
      name="confirm-password"
      type="password"
      class="form-control --last{{ if .Error }} is-invalid{{ end }}"
      data-submit-reset-bs5-validation
      required
      placeholder="Password">
	  <label for="registrationConfirmPasswordInput">Confirm Password</label>
    {{ if .Error }}
    <div class="invalid-feedback">
      {{ .Error }}
    </div>
    {{ end }}
	</div>
</div>
