package [# .Name #]

import (
	"net/http"

	"github.com/rur/treetop"
	"[# .Namespace #]/site"
)

// exampleHandler demonstrates a handler with page resources and the site environment
func exampleHandler([# if $.HasResources #]rsc *resources, [# end #]env *site.Env, rsp treetop.Response, req *http.Request) interface{} {
	return struct {
		Description string
	}{
		Description: "Example of a handler, generated for the [# .Name #] page",
	}
}

