<main id="content" class="form-signin">
  <form treetop action="/[# .Name #]" method="POST">
    <img class="mb-4 rounded-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkuLP+PwAE+wKMj9KJfwAAAABJRU5ErkJggg==" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="input-form-group mb-3">
      <div class="form-floating">
        <input name="email" type="email" class="form-control --first" id="floatingInput" placeholder="name@example.com" autofocus required value="{{ .Email }}">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control --last" id="floatingPassword" required placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input name="remember-me" type="checkbox" value="yes"{{ if .RememberMe }} checked{{ end }}> Remember me
      </label>
    </div>
    <input type="hidden" name="redirect" value="{{ .RedirectPath }}">
    {{ if .Error }}
    <div class="mt-2 mb-3 alert alert-danger">{{ .Error }}</div>
    {{ end }}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <hr class="my-4">

    <a href="/[# .Name #]/register" class="w-100 btn btn btn-lg btn-outline-secondary">Register User</a>

    <p class="mt-5 mb-3 text-muted">Generated by the
      <a href="https://github.com/rur/good" target="_blank">Good Scaffold</a>
    </p>
    <p class="mt-3 mb-3 text-muted">Uses the
      <a href="https://getbootstrap.com/" target="_blank">Boostrap v5</a> front-end toolkit
    </p>
  </form>
</main>
