<!-- inline page CSS here -->
<style>

  /* DEMO CSS Start */
   .block {
    border: 1px solid gray;
    padding: 2rem 1rem 1rem;
    position: relative;
    margin-bottom: 1em;
  }

  .block::before {
    content: "block";
    position: absolute;
    background-color: gray;
    color: white;
    top: 0;
    left: 0;
    padding: 3px 10px;
  }

  .block-partial {
    border-color: green;
  }
  .block-partial::before {
    content: "partial";
    background-color: green;
    color: white;
  }

  .block-fragment {
    border-color: purple;
  }
  .block-fragment::before {
    content: "fragment";
    background-color: purple;
    color: white;
  }
  /* DEMO CSS End */

</style>
