package [# .Name #]

import (
	"net/http"

	"github.com/rur/treetop"
	"[# .Namespace #]/service"
)


// -------------------------
// README Handlers
// -------------------------

// Doc: Handler for the README page for the welcome page boostrap
func readmePageHandler(rsc *resources, env *service.Env, rsp treetop.Response, req *http.Request) interface{} {
	data := struct {
		HandlerInfo string
	}{
		HandlerInfo: "README handler",
	}
	return data
}

