<div id="content" class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- EDITME: change title -->
      <a class="navbar-brand" href="#">Bootstrap 5 Layout</a>

      <!-- EDITME: Remove or modify examples of button placement -->
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Share
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Export
          </button>
        </div>
      </div>
    </div>
  </nav>

  <hr />

  {{ template "subsection" .Subsection }}
</div>
