_ref = "[# .Name #]"
_template = "page/templates/base.html.tmpl"
_doc = "Base HTML template for [# .Name #] page"
_uri = "/[# .Name #]"
_handler = 'hlp.BindEnv(bindResources([# .Name #]Handler))'

    [[nav]]
    _ref = "[# .Name #]-nav"
    _default = true

    [[content]]
    _ref = "[# .Name #]-landing"
    _default = true
    _doc = "Landing content view for the [# .Name #] page URI"
    _method = "GET"
    _path = "/[# .Name #]"

    [[scripts]]
    _ref = "site-scripts"
    _default = true
    _doc = "Include sitewide script footer"
    _template = "page/templates/scripts.html.tmpl"
    _handler = "treetop.Noop"
